body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

a {
    margin: 0 5px;
    text-decoration: none;
    color: blue;
}
